.event {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  border-radius: 25px;
}

.event-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 300px;
}

.event-slide {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.event-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.event-button:nth-of-type(1) {
  left: 10px;
}

.event-button:nth-of-type(2) {
  right: 10px;
}

.event-indicators {
  position: absolute;
  bottom: 10px; /* Positionner les indicateurs au bas du carrousel */
  left: 50%;
  transform: translateX(-50%); /* Centrer horizontalement */
  display: flex;
  gap: 8px; /* Espacement entre les cercles */
  z-index: 20; /* S'assurer que les indicateurs sont au-dessus des images */
}

.event-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid gray;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.event-indicator.active {
  background-color: gray;
  border-color: gray;
}
